*.swap
*.pyc
*.model
*.xls
*.pkl
*.log*

#experiments
*.out
*.pid
.idea*
.fuse_hidden*

.idea/*
BI_API.egg-info/
sonar-project.properties
.scannerwork/
.ipynb_checkpoints/
**/.cache/*
**/.pytest_cache/*
**/__pycache__/*
venv/